.navbar{
    display: flex;
    flex-direction: row;
    padding: 10px 20px;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(234, 252, 247);
    /* border: 2px solid black; */
}
