.navbar {
  display: flex;
  flex-direction: row;
  padding: 10px 20px;
  justify-content: space-between;
  color: #8402bb;
  align-items: center;
  background-color: rgb(241, 225, 254);
  /* border: 2px solid black; */
}
.rightNav {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.greeting {
  margin-right: 10px;
  font-size: 1rem;
  font-weight: bold;

  border: 2px solid #b047e1;
  color: #8402bb;
  padding: 3px 12px;
  border-radius: 4px;
}
